.custom--button {
    margin: 12px 0 0 12px;
    /* border: 1px solid #ccc; */
    border:0px;
    border-radius: 4px;
    transition: 0.2s;
    width: 90%;
    height: 40px;
    padding: 4px;
}

.custom--button:hover {
    color: white;
    background-color: #237f52;
}

.primary {
    background-color: #61dafb;
}

.warning {
    background-color: yellow;
}

.danger {
    background-color: red;
}

.success {
    background-color: green;
}