.custom--button {
    margin: 12px 10px ;
    border: 0;
    border-radius: 4px;
    transition: 0.2s;
    width: available;
    width: -moz-available;
    height: 40px;
    padding: 4px;
}

.custom--button:hover {
    background-color: #77dd77;
}

.primary {
    background-color: #61dafb;
}

.warning {
    background-color: yellow;
}

.danger {
    background-color: red;
}

.success {
    background-color: #77dd77;
}